.fetured_items{
    
}
.fetured_items_container{
    text-align: center;
    
    
}
.fet_it_head{
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
}
.fet_text{
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
}
.card_items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 48px;
    margin-bottom: 35px;
    list-style-type: none;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 429px;
    background-color: rgba(58, 56, 56, 0.86);;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.5s;
  }
.btn{
    background-color: transparent;
    
    padding: 12px;
    &:hover{
        background-color: #eba0aa;
        transition: 0.4s;
    }
}
.btn_overlay{
    display: flex;
    align-items: center;
    background-color: transparent;
    border: 1px solid #FFFFFF;
    padding: 12px;
}
.text_overlay{
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    padding-left: 11.04px;
}
.card_box{
    background: #F8F8F8;
    margin-bottom: 30px;
    width: 360px;
    text-align: start;
    position: relative;
    transition: 0.5s;
    &:hover .overlay {
        opacity: 1;
        }
    }


.card_pic{
    width: 360px;
    height: 430px;
}

.card_heading{
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    padding-top: 25px;
    padding-left: 18px;
}
.card_text{
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    padding-top: 12px;
    padding-bottom: 18px;
    padding-left: 18px;
}
.card_price{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: $highlighted_color;
    padding-bottom: 20px;
    padding-left: 18px;
}
.btn_all_prod{
    text-decoration: none;
    border: 1px solid $highlighted_color;
    padding: 14px 38px;
    font-size: 16px;
    line-height: 19px;
    color: $highlighted_color;
    &:hover{
        color: #FFFFFF;
        background-color: $highlighted_color;
        transition: 0.4s;
    }
}
@media(max-width:760px) {
    .fetured_items_container{
        
    }
    .card_items{
        margin-left: 7px;
    }
}