.header{
    background-color: #222222;
    padding: 18px 0;
}
.header_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_left, .header_right{
    display: flex;
    align-items: center;
}
.header_logo{
    fill: #e8e8e8;
    &:hover{
        fill:#F16D7F;
        transition: 0.4s;
    }
}
.logo_link{
    text-decoration: none;
    color: white;
    margin-right: 41px;
}
.search_button, .main_menu_button{
    background-color: transparent;
    border: none;
}
.registry_link, .cart_link{
    text-decoration: none;
    color: white;
    margin-left: 33px;
}