.navigation {
    background: #f8f3f4;
}
.nav_container {
    height: 148px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.new_arrivals {
    font-size: 24px;
    line-height: 29px;
    color: $highlighted_color;
}
.breadcrumb {
    display: flex;
    list-style-type: none;
    align-items: center;
}
.home_men_bc {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #636363;
    text-decoration: none;
    &:hover{
        color: $highlighted_color;
        transition: 0.4s;
    }
}
.new_arrivals_bc {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: $highlighted_color;
}
.slash {
    padding-left: 5px;
    padding-right: 5px;
}
details.menu_bord[open] .menu_bord_body {
    position: absolute;
    right: 0px;
    height: 100%;
    width: 200px;
    background-color: black;
}